#picture__input {
    display: none;
}

.picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px black;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:focus {
    color: #777;
    background: #ccc;
}

.picture__img {
    max-width: 100%;
}

.image{

    height: 50%;

}